/* GLOBAL */
body {
    margin: 0;
}

/* HERO */
.hero {
    align-items: center;
    background-image: url("./images/homepage/hero-bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.hero-subheader {
    font-weight: 100;
}

.hero-book {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    text-transform: uppercase;
}